<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Mostaza 3d Print</title>
</head>
<body>
    <header class="navbar">
        <!-- Imagen - Falta configurar carpeta estatica -->
        <img class="navbar__logo" src="/images/logo-m.png" alt="">
        <ul class="navbar__links">
            <li><a href="">Iniciar Sesion</a></li>
            <li><a href="">Registrarse</a></li>
        </ul>
    </header>
    <main>
        <article>
            <h3>product1</h3>
            <p>precio 01</p>
        </article>
        <article>
            <h3>product2</h3>
            <p>precio 02</p>
        </article>
        <article>
            <h3>product3</h3>
            <p>precio 03</p>
        </article>
        <article>
            <h3>product4</h3>
            <p>precio 04</p>
        </article>
        <article>
            <h3>product5</h3>
            <p>precio 05</p>
        </article>

    </main>
    <footer class="footer">
        <p>Todos los derechos reservados</p>
    </footer>
</body>
</html>