<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostaza 3d Print</title>
</head>
<body>
    <header>
        <!-- Imagen - Falta configurar carpeta estatica -->
        <img src="/images/logo-m.png" alt="">
        <ul>
            <li><a href="">Iniciar Sesion</a></li>
            <li><a href="">Registrarse</a></li>
        </ul>
    </header>
    <main>
        <form action="">
            <label for="email">Email</label>
            <input type="email" placeholder="miguel@dh.com" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Iniciar sesion">
        </form>
    </main>
    <footer>
        <p>Todos los derechos reservados</p>
    </footer>
</body>
</html>